<ion-content>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let car of myFleet; let i = index">
        <ion-col size="12">
          <ion-card (click)="presentPopover($event, car)">
            <ion-item>
              <ion-col size="3">
                <ion-thumbnail class="rounded-thumbnail">
                  <img
                    [src]="croppedImages[i] || '/assets/images/car-icon.png'"
                    alt="Zdjęcie pojazdu"
                  />
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <ion-card-content>
                  <p>
                    {{ 'MYFLEET.CAR_LABEL' | translate }}: {{ car.brand }} {{
                    car.model }}
                  </p>
                  <p>
                    {{ 'MYFLEET.PRODUCTION_YEAR_LABEL' | translate }}: {{
                    car.year }}
                  </p>
                  <p>
                    {{ 'MYFLEET.MILEAGE_LABEL' | translate }}: {{ car.mileage }}
                    km
                  </p>
                </ion-card-content>
              </ion-col>
            </ion-item>
            <ion-row>
              <ion-col size="12">
                <ion-card-content>
                  <p>
                    Status:
                    <ion-progress-bar
                      [value]="getCarStatus(i)"
                    ></ion-progress-bar>
                    <span class="progress-text">
                      {{ (getCarStatus(i)).toFixed(0) }}%
                    </span>
                  </p>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="openAddVehicleModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
