<ion-content>
  <ng-container *ngFor="let car of myFleet; let i = index">
    <ion-card>
      <ion-card-content>
        <ion-item-sliding #slidingItem>
          <ion-item detail lines="none">
            <ion-thumbnail slot="start">
              <img
                [src]="croppedImages[i] || '/assets/images/car-icon.png'"
                alt="Zdjęcie pojazdu"
              />
            </ion-thumbnail>
            <ion-label>
              <ion-note class="registration-number">
                {{ car.registration_number }}
              </ion-note>
              <ion-text>
                <h2>{{ car.brand }} {{ car.model }}</h2>
              </ion-text>
              <ion-text>
                <h3>
                  {{ 'MYFLEET.PRODUCTION_YEAR_LABEL' | translate }}: {{ car.year
                  }}
                </h3>
              </ion-text>
              <ion-note color="medium" class="ion-text-wrap">
                {{ 'MYFLEET.MILEAGE_LABEL' | translate }}: {{ car.mileage }}
                <br />
                {{ 'MYFLEET.FUEL_TYPE_LABEL' | translate }}: {{ car.fuel_type }}
                <br />
                {{ 'MYFLEET.BODY_TYPE_LABEL' | translate }}: {{ car.body_type }}
              </ion-note>
            </ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="secondary" (click)="openEditInfo(car)">
              <ion-icon
                slot="icon-only"
                color="light"
                name="help-circle"
              ></ion-icon>
            </ion-item-option>
            <ion-item-option color="success" (click)="openImagePicker(car)">
              <ion-icon slot="icon-only" color="light" name="camera"></ion-icon>
            </ion-item-option>
            <ion-item-option
              color="danger"
              (click)="presentDeleteConfirmation(car)"
            >
              <ion-icon slot="icon-only" color="light" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ion-card *ngIf="myFleet.length === 0">
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label> Nie posiadasz żadnych pojazdów w swojej flocie. </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="openAddVehicleModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
