<ion-header>
  <ion-toolbar>
    <ion-title>Dodaj zdjęcie</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button (click)="uploadCropperImage()" *ngIf="myImage">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="selectImage()" expand="full" *ngIf="!myImage"
    >Wybierz zdjęcie</ion-button
  >
 
  <image-cropper
    #cropper
    *ngIf="myImage"
    [imageBase64]="myImage"
    [resizeToWidth]="150"
    [resizeToHeight]="150"
    format="png"
    [autoCrop]="true"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
  ></image-cropper>
</ion-content>