<ion-header>
  <ion-toolbar>
    <ion-title>Zdjęcie poglądowe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button class="ion-margin-bottom" (click)="selectImage()" expand="block" *ngIf="!myImage"
    >Domyślne zdjęcie</ion-button
  >

  <ion-button (click)="selectImage()" expand="block" *ngIf="!myImage"
    >Wybierz zdjęcie</ion-button
  >
 
  <image-cropper
    #cropper
    *ngIf="myImage"
    [imageBase64]="myImage"
    [resizeToWidth]="150"
    [resizeToHeight]="150"
    format="png"
    [autoCrop]="true"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
  ></image-cropper>

  <ion-row *ngIf="myImage">
    <ion-col>
      <ion-button (click)="uploadCropperImage()" expand="block" color="primary">
        Zatwierdź
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="cancelCropping()" expand="block" color="medium">
        Anuluj
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>