<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon
          slot="start"
          [name]="paletteToggle ? 'sunny-outline' : 'moon-outline'"
        ></ion-icon>
        <ion-toggle
          [(ngModel)]="paletteToggle"
          (ionChange)="toggleDarkModeChange($event)"
          aria-hidden="false"
          >{{ 'SETTINGS.DARK_MODE_TITLE' | translate }}
          </ion-toggle
        >
      </ion-item>

      <ion-item>
        <ion-icon name="language-outline" slot="start"></ion-icon>
        <ion-label>{{ 'SETTINGS.LANGUAGE_TITLE' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-segment
          [(ngModel)]="selectedLanguage"
          (ionChange)="onLanguageChange($event)"
        >
          <ion-segment-button value="en"> {{ 'SETTINGS.BUTTON_EN' | translate }} </ion-segment-button>
          <ion-segment-button value="pl"> {{ 'SETTINGS.BUTTON_PL' | translate }} </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
