<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Anuluj</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Trasa</ion-title>
    <ion-buttons slot="end">
      <ion-button strong color="primary" (click)="submitForm()"
        >Zatwierdź
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="routeForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-select
        label="Wybierz pojazd"
        labelPlacement="floating"
        interface="popover"
        formControlName="selectedCar"
      >
        <ion-select-option
          *ngFor="let vehicle of vehicleStrings"
          [value]="vehicle"
          >{{ vehicle.label }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item class="ion-padding-top">
      <ion-input
        label="Lokalizacja początkowa"
        labelPlacement="floating"
        type="text"
        formControlName="startLocation"
        (ionInput)="onStartCityInput($event)"
        (ionBlur)="calculateDistance()"
      ></ion-input>
    </ion-item>
    <ion-list class="ion-padding-bottom" *ngIf="filteredStartCities.length > 0">
      <ion-item
        *ngFor="let city of filteredStartCities"
        (click)="selectStartCity(city)"
      >
        {{ city.label }}
      </ion-item>
    </ion-list>

    <ion-item class="ion-padding-top">
      <ion-input
        label="Lokalizacja końcowa"
        labelPlacement="floating"
        type="text"
        formControlName="endLocation"
        (ionBlur)="calculateDistance()"
        (ionInput)="onEndCityInput($event)"
      ></ion-input>
    </ion-item>
    <ion-list class="ion-padding-bottom" *ngIf="filteredEndCities.length > 0">
      <ion-item
        *ngFor="let city of filteredEndCities"
        (click)="selectEndCity(city)"
      >
        {{ city.label }}
      </ion-item>
    </ion-list>

    <ion-item class="ion-padding-top">
      <ion-input
        label="Długość trasy"
        labelPlacement="stacked"
        type="text"
        formControlName="distance"
        [readonly]="true"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Czas trwania"
        labelPlacement="stacked"
        type="text"
        formControlName="duration"
        [readonly]="true"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-select
        label="Status"
        labelPlacement="floating"
        interface="popover"
        formControlName="status"
        (ionChange)="isRoutePlanned()"
      >
        <ion-select-option
          *ngFor="let status of statusOptions"
          [value]="status"
          >{{ status.label }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Data</ion-label>
      <ion-datetime-button datetime="date"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="date"
            presentation="date"
            size="cover"
            showDefaultButtons="true"
            cancelText="Anuluj"
            doneText="Zatwierdź"
            formControlName="date"
            [min]="minDate"
            [max]="maxDate"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Szczegóły trasy</ion-label>
      <ion-textarea
        formControlName="description"
        maxlength="100"
        auto-grow="true"
      ></ion-textarea>
    </ion-item>
  </form>
</ion-content>
