<ion-header>
  <ion-toolbar>
    <ion-title>Dodaj pojazd</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="vehicleForm" (ngSubmit)="submitForm()">
    <!-- VIN -->
    <ion-item>
      <ion-input
        label="VIN"
        labelPlacement="floating"
        formControlName="vin"
        type="text"
        maxlength="17"
      ></ion-input>
    </ion-item>

    <!-- Zarejestrowany -->
    <ion-item>
      <ion-input
        label="Numer rejestracyjny"
        labelPlacement="floating"
        formControlName="registrationNumber"
      ></ion-input>
    </ion-item>

    <!-- Aktualny przebieg -->
    <ion-item>
      <ion-input
        label="Wprowadź przebieg (km)"
        labelPlacement="floating"
        type="number"
        formControlName="mileage"
      ></ion-input>
    </ion-item>

    <!-- Marka -->
    <ion-item>
      <ion-select
        label="Marka pojazdu"
        labelPlacement="floating"
        interface="popover"
        formControlName="brand"
        (ionChange)="filterModels()"
      >
        <ion-select-option *ngFor="let brand of carBrands" [value]="brand">
          {{ brand }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Model -->
    <ion-item>
      <ion-select
        label="Model pojazdu"
        labelPlacement="floating"
        interface="popover"
        formControlName="model"
      >
        <ion-select-option *ngFor="let model of carModels" [value]="model">
          {{ model }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Rok -->
    <ion-item>
      <ion-select
        label="Rok produkcji"
        labelPlacement="floating"
        interface="popover"
        formControlName="year"
      >
        <ion-select-option
          *ngFor="let year of carProductionYear"
          [value]="year"
        >
          {{ year }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Kolor -->
    <ion-item>
      <ion-select
        label="Wybierz kolor"
        labelPlacement="floating"
        formControlName="color"
        interface="popover"
      >
        <ion-select-option *ngFor="let color of carColors" [value]="color">
          {{ color }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Nadwozie -->
    <ion-item>
      <ion-select
        label="Rodzaj nadwozia"
        labelPlacement="floating"
        interface="popover"
        formControlName="bodyType"
      >
        <ion-select-option
          *ngFor="let bodyType of carBodyTypes"
          [value]="bodyType"
        >
          {{ bodyType }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Rodzaj paliwa -->
    <ion-item>
      <ion-select
        label="Rodzaj paliwa"
        labelPlacement="floating"
        interface="popover"
        formControlName="fuelType"
        placeholder="Wybierz rodzaj paliwa"
      >
        <ion-select-option
          *ngFor="let fuelType of carFuelTypes"
          [value]="fuelType"
        >
          {{ fuelType }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Badanie techniczne -->
    <ion-item>
      <ion-label>Data badania technicznego</ion-label>
      <ion-datetime-button
        datetime="technicalInspectionDate"
      ></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            doneText="Zatwierdź"
            cancelText="Anuluj"
            id="technicalInspectionDate"
            presentation="date"
            [max]="maxDate"
            showDefaultButtons="true"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <!-- Ubezpieczenie -->
    <ion-item>
      <ion-label>Ubezpieczenie (data ważności)</ion-label>
      <ion-datetime-button
        datetime="insuranceExpiryDate"
      ></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            doneText="Zatwierdź"
            cancelText="Anuluj"
            id="insuranceExpiryDate"
            presentation="date"
            showDefaultButtons="true"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <!-- Wpis do rejestru zabytków -->
    <ion-item>
      <ion-label>Wpis do rejestru zabytków</ion-label>
      <ion-checkbox formControlName="isHeritageListed"></ion-checkbox>
    </ion-item>

    <!-- Submit Button -->
    <ion-button
      expand="block"
      type="submit"
      color="primary"
      class="ion-margin-top"
      ><ion-icon name="add" slot="start"></ion-icon>Dodaj pojazd</ion-button
    >
  </form>
</ion-content>
