<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'MYFLEET.MODAL.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="vehicleForm" (ngSubmit)="submitForm()">
    <!-- VIN -->
    <ion-item>
      <ion-input
        label="{{ 'MYFLEET.MODAL.VIN' | translate }}"
        labelPlacement="floating"
        formControlName="vin"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngFor="let validation of validationMessages.vin">
      <div *ngIf="vehicleForm.controls['vin'].hasError(validation.type) && vehicleForm.controls['vin'].touched" class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ validation.message }}</span>
      </div>
    </ion-text>

    <!-- Zarejestrowany -->
    <ion-item>
      <ion-input
        label="{{ 'MYFLEET.MODAL.REGISTRATION_NUMBER' | translate }}"
        labelPlacement="floating"
        formControlName="registrationNumber"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngFor="let validation of validationMessages.registrationNumber">
      <div *ngIf="vehicleForm.controls['registrationNumber'].hasError(validation.type) && vehicleForm.controls['registrationNumber'].touched" class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ validation.message }}</span>
      </div>
    </ion-text>

    <!-- Aktualny przebieg -->
    <ion-item>
      <ion-input
        label="{{ 'MYFLEET.MODAL.MILEAGE' | translate }}"
        labelPlacement="floating"
        type="number"
        formControlName="mileage"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngFor="let validation of validationMessages.mileage">
      <div *ngIf="vehicleForm.controls['mileage'].hasError(validation.type) && vehicleForm.controls['mileage'].touched" class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ validation.message }}</span>
      </div>
    </ion-text>

    <!-- Marka -->
    <ion-item>
      <ion-select
        label="{{ 'MYFLEET.MODAL.BRAND' | translate }}"
        labelPlacement="floating"
        interface="popover"
        formControlName="brand"
        (ionChange)="filterModels()"
      >
        <ion-select-option *ngFor="let brand of carBrands" [value]="brand">
          {{ brand }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngFor="let validation of validationMessages.brand">
      <div *ngIf="vehicleForm.controls['brand'].hasError(validation.type) && vehicleForm.controls['brand'].touched" class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ validation.message }}</span>
      </div>
    </ion-text>

    <!-- Model -->
    <ion-item>
      <ion-select
        label="{{ 'MYFLEET.MODAL.MODEL' | translate }}"
        labelPlacement="floating"
        interface="popover"
        formControlName="model"
      >
        <ion-select-option *ngFor="let model of carModels" [value]="model">
          {{ model }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngFor="let validation of validationMessages.model">
      <div *ngIf="vehicleForm.controls['model'].hasError(validation.type) && vehicleForm.controls['model'].touched" class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ validation.message }}</span>
      </div>
    </ion-text>

    <!-- Rok -->
    <ion-item>
      <ion-select
        label="{{ 'MYFLEET.MODAL.PRODUCTION_YEAR' | translate }}"
        labelPlacement="floating"
        interface="popover"
        formControlName="year"
      >
        <ion-select-option
          *ngFor="let year of carProductionYear"
          [value]="year"
        >
          {{ year }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngFor="let validation of validationMessages.year">
      <div *ngIf="vehicleForm.controls['year'].hasError(validation.type) && vehicleForm.controls['year'].touched" class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ validation.message }}</span>
      </div>
    </ion-text>

    <!-- Kolor -->
    <ion-item>
      <ion-select
        label="{{ 'MYFLEET.MODAL.COLOR' | translate }}"
        labelPlacement="floating"
        formControlName="color"
        interface="popover"
      >
        <ion-select-option *ngFor="let color of carColors" [value]="color">
          {{ color }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngFor="let validation of validationMessages.color">
      <div *ngIf="vehicleForm.controls['color'].hasError(validation.type) && vehicleForm.controls['color'].touched" class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ validation.message }}</span>
      </div>
    </ion-text>

    <!-- Nadwozie -->
    <ion-item>
      <ion-select
        label="{{ 'MYFLEET.MODAL.BODY_TYPE' | translate }}"
        labelPlacement="floating"
        interface="popover"
        formControlName="bodyType"
      >
        <ion-select-option
          *ngFor="let bodyType of carBodyTypes"
          [value]="bodyType"
        >
          {{ bodyType }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngFor="let validation of validationMessages.bodyType">
      <div *ngIf="vehicleForm.controls['bodyType'].hasError(validation.type) && vehicleForm.controls['bodyType'].touched" class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ validation.message }}</span>
      </div>
    </ion-text>
    <!-- Rodzaj paliwa -->
    <ion-item>
      <ion-select
        label="{{ 'MYFLEET.MODAL.FUEL_TYPE' | translate }}"
        labelPlacement="floating"
        interface="popover"
        formControlName="fuelType"
        placeholder="Wybierz rodzaj paliwa"
      >
        <ion-select-option
          *ngFor="let fuelType of carFuelTypes"
          [value]="fuelType"
        >
          {{ fuelType }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngFor="let validation of validationMessages.fuelType">
      <div *ngIf="vehicleForm.controls['fuelType'].hasError(validation.type) && vehicleForm.controls['fuelType'].touched" class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ validation.message }}</span>
      </div>
    </ion-text>

    <!-- Badanie techniczne -->
    <ion-item>
      <ion-label>{{ 'MYFLEET.MODAL.TECHNICAL_INSPECTION_DATE' | translate }}</ion-label>
      <ion-datetime-button
        datetime="technicalInspectionDate"
      ></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            doneText="Zatwierdź"
            cancelText="Anuluj"
            id="technicalInspectionDate"
            presentation="date"
            [max]="maxDate"
            showDefaultButtons="true"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <!-- Ubezpieczenie -->
    <ion-item>
      <ion-label>{{ 'MYFLEET.MODAL.INSURANCE_EXPIRY_DATE' | translate }}</ion-label>
      <ion-datetime-button
        datetime="insuranceExpiryDate"
      ></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            doneText="Zatwierdź"
            cancelText="Anuluj"
            id="insuranceExpiryDate"
            presentation="date"
            showDefaultButtons="true"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <!-- Wpis do rejestru zabytków -->
    <ion-item>
      <ion-label>{{ 'MYFLEET.MODAL.IS_HERITAGE_LISTED' | translate }}</ion-label>
      <ion-checkbox formControlName="isHeritageListed"></ion-checkbox>
    </ion-item>

    <!-- Submit Button -->
    <ion-button
      expand="block"
      type="submit"
      color="primary"
      class="ion-margin-top"
      ><ion-icon name="add" slot="start"></ion-icon>{{ 'MYFLEET.MODAL.SUBMIT_BUTTON' | translate }}</ion-button
    >
  </form>
</ion-content>
