<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size="12" size-md="6">
        <ion-card class="ion-text-center">
          <ion-buttons slot="start">
            <ion-back-button default-href="#"></ion-back-button>
          </ion-buttons>
          <ion-card-header>
            <ion-card-title>{{ 'LOGIN.TITLE' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <ion-item>
                <ion-icon name="person-outline" slot="start"></ion-icon>
                <ion-input
                  placeholder="{{ 'LOGIN.LOGIN_PLACEHOLDER' | translate }}"
                  type="text"
                  formControlName="login">
                </ion-input>
              </ion-item>
              <ion-text color="danger" *ngFor="let validation of validationMessages.login">
                <div *ngIf="loginForm.controls['login'].hasError(validation.type) && loginForm.controls['login'].touched" class="error-message">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ion-text>

              <ion-item class="ion-margin-top">
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-input
                  placeholder="{{ 'LOGIN.PASSWORD_PLACEHOLDER' | translate }}"
                  type="password"
                  formControlName="password">
                </ion-input>
              </ion-item>
              <ion-text color="danger" *ngFor="let validation of validationMessages.password">
                <div *ngIf="loginForm.controls['password'].hasError(validation.type) && loginForm.controls['password'].touched" class="error-message">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ion-text>

              <ion-button 
                expand="block" 
                type="submit" 
                class="ion-margin-top">
                {{ 'LOGIN.BUTTON_LABEL' | translate }}
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
