// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
/* variables.scss */

:root {
  --ion-color-primary: rgb(52, 211, 153);
  --ion-color-primary-tint: rgb(41, 245, 170);
  --ion-color-primary-rgb: rgb(253, 253, 253);

  --ion-custom-green-300: #1db65a;
  --ion-custom-blue-300: #5bc0eb;
  --ion-custom-red-300: #f5b7b1;
  --ion-custom-bluegray-300: #bcc0c0;

  --ion-custom-green-200: #d5f5e3;
  --ion-custom-blue-200: #a3c2e6;
  --ion-custom-red-200: #f9b8b8;
  --ion-custom-bluegray-200: #e0e0e0;
}
