<ion-app>
  <!-- Pasek nawigacyjny -->
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ pageTitle }}</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()" *ngIf="previousPath">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="isLoggedIn">
        <ion-button (click)="mainMenu('open')">
          <ion-avatar>
            <img
              [src]="profileImage[0] || '/assets/images/profile_icon.png'"
              alt="Zdjęcie profilowe"
            />
          </ion-avatar>
          <ion-label class="ion-margin-start">{{ userInfo.login }}</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Główna zawartość -->
  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>

  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/myfleet" routerDirection="root">
      <ion-icon name="car-outline"></ion-icon>
      Flota
    </ion-tab-button>
    <ion-tab-button routerLink="/calendar" routerDirection="root">
      <ion-icon name="calendar-outline"></ion-icon>
      Kalendarz
    </ion-tab-button>
    <ion-tab-button routerLink="/services" routerDirection="root">
      <ion-icon name="build-outline"></ion-icon>
      Serwisy
    </ion-tab-button>
    <ion-tab-button routerLink="/add-fueling" routerDirection="root">
      <ion-icon name="speedometer-outline"></ion-icon>
      Tankowania
    </ion-tab-button>
    <ion-tab-button routerLink="/settings" routerDirection="root">
      <ion-icon name="settings-outline"></ion-icon>
      Ustawienia
    </ion-tab-button>
  </ion-tab-bar>

  <!-- Menus -->
  <ion-menu side="end" menuId="main-menu" contentId="main-content" class="menu">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-item
            lines="none"
            class="ion-no-padding"
            button
            (click)="goToProfile()"
          >
            <ion-avatar>
              <img
                [src]="profileImage[0] || '/assets/images/profile_icon.png'"
                alt="Zdjęcie profilowe"
              />
            </ion-avatar>
            <ion-label class="ion-margin-start">Szymon</ion-label>
          </ion-item>
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="mainMenu('close')">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="full">
        <ion-menu-toggle auto-hide="false" *ngFor="let item of mainMenuItems">
          <ion-item
            (click)="item.action ? item.action() : navigateToPage(item.path)"
            routerDirection="root"
            [class.active-item]="selectedPath === item.path"
          >
            <ion-icon [name]="item.icon" class="ion-margin-end"></ion-icon>
            {{ item.title }}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-app>
