.profile-btn ion-avatar {
  height: 2rem;
  width: 2rem;
}

.profile-btn ion-icon {
  height: 2rem;
  width: 2rem;
}

.settings-btn ion-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.logout-btn ion-icon {
  height: 1.5rem;
  width: 1.5rem;
}

ion-tab-button.active {
  color: var(--ion-color-primary);
}
