ion-button ion-avatar {
  height: 2.5rem;
  width: 2.5rem;
}

ion-avatar ion-icon {
  height: 2.5rem;
  width: 2.5rem;
}


ion-item-divider {
  background: none;
  border-bottom: 0;
}

ion-menu ion-list.list-md {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.divider {
  margin-top: auto;
}

ion-tab-button.active {
  color: var(--ion-color-primary);
}
