<ion-header>
  <ion-toolbar>
    <ion-title>{{
      carData.brand + " " + carData.model + " " + carData.year
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ "MORE-INFO.TITLE" | translate }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>VIN:</ion-label>
        <ion-note slot="end">{{ carData.vin }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{ "MORE-INFO.MILEAGE_LABEL" | translate }}</ion-label>
        <ion-note slot="end">{{ carData.mileage }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{ "MORE-INFO.BRAND_LABEL" | translate }}</ion-label>
        <ion-note slot="end">{{ carData.brand }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{ "MORE-INFO.MODEL_LABEL" | translate }}</ion-label>
        <ion-note slot="end">{{ carData.model }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{ "MORE-INFO.YEAR_LABEL" | translate }}</ion-label>
        <ion-note slot="end">{{ carData.year }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{ "MORE-INFO.BODY_TYPE_LABEL" | translate }}</ion-label>
        <ion-note slot="end">{{ carData.body_type }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{ "MORE-INFO.FUEL_TYPE_LABEL" | translate }}</ion-label>
        <ion-note slot="end">{{ carData.fuel_type }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{ "MORE-INFO.COLOR_LABEL" | translate }}</ion-label>
        <ion-note slot="end">{{ carData.color }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{
          "MORE-INFO.HERITAGE_LISTED_LABEL" | translate
        }}</ion-label>
        <ion-note slot="end">
          {{
            carData.is_heritage_listed
              ? ("MORE-INFO.HERITAGE_LISTED_YES" | translate)
              : ("MORE-INFO.HERITAGE_LISTED_NO" | translate)
          }}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{
          "MORE-INFO.TECHNICAL_INSPECTION_DATE_LABEL" | translate
        }}</ion-label>
        <ion-note slot="end">{{ carData.technical_inspection_date }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{
          "MORE-INFO.REGISTRATION_NUMBER_LABEL" | translate
        }}</ion-label>
        <ion-note slot="end">{{ carData.registration_number }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>{{
          "MORE-INFO.INSURANCE_EXPIRY_DATE_LABEL" | translate
        }}</ion-label>
        <ion-note slot="end">{{ carData.insurance_expiry_date }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>
          <div class="status-label">
            Aktualny status techniczny pojazdu
          </div>
          <ion-progress-bar [value]="getCarStatus()"></ion-progress-bar>
          <ion-note class="progress-note">
            {{ getStatusLabel() }} - {{ (getCarStatus()).toFixed(0) }}%
          </ion-note>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
