<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-calendar
        #calendar
        [(ngModel)]="date"
        [options]="options"
        (onChange)="onChange($event)"
        format="yyyy-MM-dd"
      >
      </ion-calendar>
    </ion-card-content>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item *ngFor="let event of selectedDateEvents">
      <ion-label>
        <h2>{{ event.title }}</h2>
        <p>
          {{ event.startDate | date: 'yyyy-MM-dd' }} - {{ event.endDate | date: 'yyyy-MM-dd' }}
        </p>
        <p>
          Czas: {{ event.startTime }} - {{ event.endTime }}
        </p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="selectedDateEvents.length === 0">
      <ion-label>
        Brak wydarzeń
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" id="inputmodal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal trigger="inputmodal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss(); this.addEvent.reset();"
              >Anuluj</ion-button
            >
          </ion-buttons>
          <ion-title>Nowe wydarzenie</ion-title>
          <ion-buttons slot="end">
            <ion-button color="primary" strong (click)="submitForm()"
              >Dodaj</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="addEvent" (ngSubmit)="submitForm()">
          <ion-item>
            <ion-input
              type="text"
              formControlName="title"
              placeholder="Tytuł"
            />
          </ion-item>
          <ion-text color="danger" *ngFor="let validation of validationMessages.title">
            <div *ngIf="addEvent.controls['title'].hasError(validation.type) && addEvent.controls['title'].touched" class="error-message">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ion-text>
          <ion-item>
            <ion-label>Od</ion-label>
            <ion-datetime-button datetime="startDatetime"></ion-datetime-button>
          </ion-item>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="startDatetime" formControlName="startDate"></ion-datetime>
            </ng-template>
          </ion-modal>

          <ion-item>
            <ion-label>Do</ion-label>
            <ion-datetime-button datetime="endDatetime"></ion-datetime-button>
          </ion-item>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="endDatetime" formControlName="endDate"></ion-datetime>
            </ng-template>
          </ion-modal>

          <ion-text color="danger" *ngFor="let validation of validationMessages.endDate">
            <div *ngIf="addEvent.hasError(validation.type)" class="error-message">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ion-text>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>