ion-calendar {
    padding: 0 !important;
}

ion-button.forward {
    margin-left: -42px !important;
}

.list-md.list-inset {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    border-radius: 4px;
}

button.days-btn ion-note {
    bottom: 0px !important;
}